@import "varialbes.scss";



*{
    li{
        list-style-type: none;
    }

    a{
        
        text-decoration: none;
        
    }
}


body{
    width: 90%;
    margin:auto;
}

/************************header*******************************************/@at-root

#banner{
    margin: 2em 0 3em;
}

/********************* 1ere section :  show-id-photograph*******************/
#show-id-photograph{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}



/*************div 1 : presentation********/
#presentation{
    order:1;
    > h1{
        color: $color-primary;
        font-size: 3rem;
        margin-top:0;
        margin-bottom: 5px;
    }

    p:nth-child(2){
        color: $color-primary-bg;
        font-size: 1.2rem;
        margin-top:0;
    }
    ul {
        display: flex;
        padding:0;
        > .tags{
            margin: 0 5px;
        }
        
    }
}
/*liens tags*/
.links{
    border : 0.5px rgb(235, 235, 235) solid;
    border-radius: 20px;
    padding : 3px 10px;
    color:$color-primary-bg;
    font-weight: bold;
}




/*********div 2 : photo du photograph************/
#id-photo {
    order:3;
    & img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
}



/************div 3 : bouton contactez-moi************/
#btn-contact{
    order:2;
    > button{
        background-color: $color-primary-bg;
        color: #FFF;
        padding:10px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
    }
}






