@import "varialbes.scss";



/*propriétés css générales*/
*{
    font-size: 1rem;
    padding: 0;
    margin: 0;  
}
body{
    position:relative;
    h2 , p {
        text-align: center;
        margin: 5px auto;
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
        
    }
}

#go-to-content{
    position: fixed;
    top: 2%;
    left: 50%;
    background:$color-secondary-bg;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 10000;
    animation-name: linkOpen;
    animation-duration: 0.6s;
    

    > a{
        color:#000;
    }
}

@keyframes linkOpen{
    from{
      opacity: 0;
      transform: translateY(-20px);
    }
    to{
      opacity: 1;
      
    }
  
  }

/*header*/
#banner {
    display: flex;
    width: 90%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    &.logo{
        width: 20%;
    }
    .nav-tag-links{
        width: 80%;
        & ul {
            display: flex;
            flex-wrap: wrap;
          
            & li {
                margin: 0 5px;
                border: 0.2px gray solid;
                border-radius: 20px;
                padding : 5px 10px;
            }
        }
    }
}

/*main*/
#gallery-photographers {
    width: 95%;
    margin:auto;
}

/*titre de la gallerie*/
#index-title{
    position: absolute;
    top: 75px;
    left: 80%;
    & h1{
        color:$color-primary;
        font-size: 2rem;
    }    
}

/*div container*/
#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    & article{
        width: 20%;
        margin : 30px 90px;   
    }
}

/*propriétés des différentes parties des articles*/

/*photo et nom des photographes*/
.photograph {
    display: flex;
    justify-content: center;
    img {
        width: 300px;
        height:300px;
        border-radius: 50%;
        text-align: center;
        object-fit: cover;
    }
    h2{
        font-size: 2rem;
        color: $color-primary;
    }
}

/*infos des photographes*/
.infos-photograph{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & p:nth-child(1){
        color: $color-secondary-bg;
    }
    p:nth-child(2){
        font-weight: bold;
    }
    p:nth-child(3){
        font-weight: lighter;
    }
}

/*liens tag des photographes*/
.tag-links{
    display: flex;
    justify-content: center;
    & a{
        color: $color-secondary-bg;
        font-weight: bold;
    }
}    



