@charset "UTF-8";
/*variables*/
/*propriétés css générales*/
* {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

body p {
  text-align: center;
  margin: 5px auto;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

#go-to-content {
  position: fixed;
  top: 2%;
  left: 50%;
  background: #DB8876;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 0;
  -webkit-animation-name: linkOpen;
          animation-name: linkOpen;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

#go-to-content > a {
  color: #000;
}

@-webkit-keyframes linkOpen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}

@keyframes linkOpen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
  }
}

/*header*/
#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

#banner.logo {
  width: 20%;
}

#banner .nav-tag-links {
  width: 80%;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-list li {
  margin: 0 5px;
  border: 0.5px #C4C4C4 solid;
  border-radius: 11px;
  padding: 2px 10px;
}

.links-list li > a {
  color: #901C1C;
  font-weight: bold;
}

/*main*/
#gallery-photographers {
  width: 95%;
  margin: auto;
}

/*titre de la gallerie*/
#index-title {
  position: absolute;
  top: 75px;
  left: 80%;
}

#index-title h2 {
  color: #901C1C;
  font-size: 2rem;
}

/*div container*/
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#container article {
  width: 20%;
  margin: 30px 90px;
}

/*propriétés des différentes parties des articles*/
/*photo et nom des photographes*/
.photograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photograph img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph h3 {
  font-size: 2rem;
  text-align: center;
  line-height: 46.87px;
  color: #D3573C;
}

/*infos des photographes*/
.infos-photograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*p:nth-child(2){
        font-weight: bold;
    }*/
}

.infos-photograph p:nth-child(1) {
  color: #901C1C;
}

.infos-photograph p:nth-child(3) {
  color: #757575;
}

/*liens tag des photographes*/
.tag-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tag-links > ul li {
  margin: 0 0.1em;
  border: 0.5px #C4C4C4 solid;
  border-radius: 20px;
  padding: 2px 10px;
}

.tag-links > ul a {
  color: #901C1C;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */