@charset "UTF-8";
/* mobile */
@media screen and (min-width: 360px) {
  .presentation > h1 {
    font-size: 1.6rem;
  }
  .presentation p:nth-child(2) {
    font-size: 1rem;
  }
  .presentation p:nth-child(3) {
    font-size: 0.9rem;
  }
  .links {
    font-size: 0.8rem;
  }
  #id-photo {
    width: 40%;
    height: 150px;
  }
  #id-photo > img {
    width: 120px;
    height: 120px;
  }
  #show-id-photograph > .btn-contact {
    margin-left: -100px;
  }
  #photographContact > h1 {
    font-size: 2rem;
  }
  #submit-form {
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
    margin: 2em auto;
  }
}

@media screen and (min-width: 414px) {
  .gallery {
    height: 225px;
  }
  .gallery img {
    height: 225px;
  }
  #photographContact > h2 {
    font-size: 2rem;
  }
  .info_media > h2 {
    font-size: 1rem;
  }
  .like > p,
  .like i {
    font-size: 1rem;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  p {
    line-height: 2.5rem;
  }
  #banner {
    width: 90%;
  }
  .logo {
    width: 200px;
  }
  main {
    width: 90%;
    margin: auto;
  }
  #show-id-photograph {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: #fafafa;
    width: 100%;
    padding: 30px 0;
    border-radius: 8px;
  }
  #show-id-photograph > .btn-contact {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 150px;
  }
  #show-id-photograph > .btn-contact > button {
    font-size: 1rem;
    padding: 15px;
    cursor: pointer;
  }
  .presentation {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
    margin-left: 20px;
  }
  .presentation > h1 {
    font-size: 3rem;
  }
  .presentation p:nth-child(2) {
    font-size: 1.1rem;
  }
  #id-photo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 180px;
  }
  #id-photo > img {
    height: 180px;
    width: 180px;
  }
  #filter-sort-by {
    display: block;
    width: 100%;
    margin: 0 auto 1em;
  }
  #filter-sort-by select {
    border: none;
    cursor: pointer;
  }
  #works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #works-list > article {
    width: 250px;
  }
  #works-list > article video {
    height: 200px;
    width: 250px;
  }
  .gallery {
    height: 200px;
    width: 250px;
  }
  .gallery img {
    height: 200px;
    width: 250px;
  }
  #like_counter {
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 5%;
  }
  #modale .modal-content {
    height: 850px;
    background: #db8876;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
  }
  .close {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
  }
  #photographContact {
    height: 100%;
  }
  #photographContact > h1 {
    font-size: 3rem;
    margin: 20px 25px 10px;
  }
  #photographContact div {
    margin: 0.3em auto;
  }
  #photographContact div > label {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .btn-submit {
    width: 30%;
    height: 50px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 1130px) {
  #modale .modal-content {
    max-height: 855px;
    max-width: 555px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    height: 300px;
    width: 350px;
  }
  .gallery img {
    height: 300px;
    width: 350px;
  }
  #works-list > article {
    width: 350px;
  }
  #works-list > article video {
    height: 300px;
    width: 350px;
  }
}

@media screen and (min-width: 1920px) {
  p {
    font-size: 1.3rem;
  }
  .logo img {
    width: 100%;
  }
  .presentation > h1 {
    font-size: 3rem;
  }
  .presentation p:nth-child(2) {
    font-size: 1.3rem;
  }
  .presentation p:nth-child(3) {
    font-size: 1rem;
  }
  .presentation ul a {
    font-size: 0.8rem;
  }
  .gallery {
    height: 400px;
    width: 450px;
  }
  .gallery img {
    height: 400px;
    width: 450px;
  }
  #works-list > article {
    width: 450px;
  }
  #works-list > article video {
    height: 400px;
    width: 450px;
  }
  #id-photo {
    height: 280px;
  }
  #id-photo > img {
    height: 280px;
    width: 280px;
  }
  #show-id-photograph .btn-contact {
    width: 250px;
  }
  #show-id-photograph .btn-contact button {
    font-size: 1.5rem;
    padding: 20px;
  }
  .info_media {
    width: 450px;
  }
  .info_media > h2 {
    font-size: 1rem;
  }
  .like > p,
  .like i {
    font-size: 1rem;
  }
  #like_counter {
    max-width: 540px;
  }
}

/* grand écran */
@media screen and (min-width: 2500px) {
  body {
    max-width: 2499px;
    max-height: 2160px;
    margin: auto;
  }
}
/*# sourceMappingURL=mediaqueries-page-photograph.css.map */