/*variables*/
* li {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

* p {
  line-height: 1.3rem;
}

body {
  width: 100%;
  z-index: 1;
  position: relative;
  margin: auto;
  font-size: 1rem;
}

/**************************************************************************header*******************************************/
#banner {
  width: 95%;
  text-align: left;
  margin: 1em auto 1em;
}

.logo {
  width: 120px;
}

.logo img {
  width: 100%;
}

/******************************************************************main******************************************/
main {
  width: 100%;
}

/******************************************************** 1ere section :  show-id-photograph*****************************************************/
#show-id-photograph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 95%;
  margin: 0 auto 2em;
}

#show-id-photograph > .btn-contact {
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -60px;
  width: 50%;
}

#show-id-photograph > .btn-contact > button {
  background-color: #901C1C;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px;
  font-weight: bold;
  width: 100%;
}

.presentation {
  width: 60%;
}

.presentation > h1 {
  color: #D3573C;
  margin-bottom: 0;
  font-size: 1rem;
}

.presentation p:nth-child(2) {
  color: #901C1C;
  font-size: 0.8rem;
  margin: 0;
}

.presentation p:nth-child(3) {
  color: #525252;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.7rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul li {
  margin-top: 5px;
  margin-right: 0.3em;
}

ul a {
  color: #901C1C;
  border: 0.3px solid #C4C4C4;
  border-radius: 11px;
  padding: 2px;
  font-size: 0.7rem;
}

#id-photo {
  width: 50%;
  height: 160px;
  text-align: right;
}

#id-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*****************************************************************************section filtre************************************************************/
#filter-sort-by {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  display: none;
}

select {
  width: 150px;
  font-size: 1em;
  height: 50px;
  background: #901C1C;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

select:hover {
  opacity: 0.9;
}

/***************************************************************************************formulaire*************************************************************/
#modale {
  width: 100%;
  background-color: #fff;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  display: none;
  /* > .content{
        width: 100%;
        height: 100%;
        background-color: #db8876;
        border-radius: 5px;
    }*/
}

#modale .modal-content {
  position: relative;
  height: 100%;
  background: #db8876;
  width: 100%;
}

#photographContact {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#photographContact div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

#photographContact div > label {
  font-size: 1rem;
  margin-bottom: 10px;
}

#photographContact div .text-control {
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

#photographContact h2 {
  font-size: 1.5rem;
  margin: 50px 15px 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  font-size: 2em;
  border: none;
  background-color: transparent;
  color: #FFF;
}

#yourmessage {
  font-size: 1rem;
  overflow-y: scroll;
}

.btn-submit {
  width: 50%;
  height: 30px;
  background-color: #901C1C;
  color: #FFF;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto;
  border: none;
}

/*champs de saisi*/
.info-form[data-error]::after {
  content: attr(data-error);
  font-weight: bold;
  font-size: 0.6rem;
  color: #FFF;
  display: block;
  margin-top: 3px;
  text-align: right;
  opacity: 1;
}

/*.info-form[data-error-visible="true"]::after {
    opacity: 1;
  }*/
/*.info-form[data-error-visible="true"] .text-control {
    border: 5px solid rgb(75, 10, 255);
  }*/
/**********************************************************************section gallery photographe******************************************************/
#works-list {
  width: 95%;
  margin: auto;
}

#works-list > article {
  width: 100%;
  margin-bottom: 10px;
}

#works-list > article video {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.gallery {
  height: 200px;
  border-radius: 5px;
  border-radius: 8px;
}

.gallery img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

.info_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.info_media > h2 {
  font-size: 0.8rem;
  color: #901C1C;
  width: 80%;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 20%;
}

.like > p {
  color: #901C1C;
  font-size: 0.8rem;
}

.like button {
  border: none;
  background-color: transparent;
}

.like button > i {
  color: #901C1C;
}

#like_counter {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #DB8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*# sourceMappingURL=page-photograph.css.map */